{% extends "base.html" %}

{% block title %}Welcome to QuizHub{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h1 class="card-title mb-4">Welcome {{ user.first_name }}, to QuizHub!</h1>
                    <p class="card-text">Test your knowledge with our exciting quizzes.</p>
                    <a href="{{ url_for('views.quiz') }}" class="btn btn-primary btn-lg mt-3">Start Quiz</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
