{% extends "base.html" %}
<!--title-->
{% block title %}Quiz{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Quiz</h1>
    <!-- timer section-->
    <div id="timer" style="font-size: 1.5em; color: red;">5:00</div>

    
    <form id="quiz-form" method="POST">
        {% for question in questions %}
        <!-- Quiz -->
        <div class="form-group">
            <label>{{ question.question }}</label><br>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question{{ question.id }}" value="1" required>
                <label class="form-check-label">{{ question.option_1 }}</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question{{ question.id }}" value="2">
                <label class="form-check-label">{{ question.option_2 }}</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question{{ question.id }}" value="3">
                <label class="form-check-label">{{ question.option_3 }}</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question{{ question.id }}" value="4">
                <label class="form-check-label">{{ question.option_4 }}</label>
            </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary mt-3">Submit Quiz</button>
    </form>
      
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        let timer = 5 * 60; 
        const timerDisplay = document.getElementById("timer");
        const quizForm = document.getElementById("quiz-form");

        function updateTimer() {
            const minutes = Math.floor(timer / 60);
            const seconds = timer % 60;
            timerDisplay.textContent = `${minutes}:${seconds.toString().padStart(2, "0")}`;
            timer--;

            if (timer < 0) {
                clearInterval(timerInterval);
                alert("Time's up! Submitting your quiz.");
                quizForm.submit(); 
            }
        }

        const timerInterval = setInterval(updateTimer, 1000);
        updateTimer(); 
    });
</script>

{% endblock %}